@font-face {
	font-family: 'Rajdhani';
	src: url('Rajdhani-SemiBold.ttf');
}

@font-face {
	font-family: 'Electrolize';
	src: url('Electrolize-Regular.ttf');
}

body {
	font-family: 'Electrolize'!important;
	font-size: 12pt!important;
	background-color: #212121!important;
}

#navbar {
	background-color: #424242;
}

#navbar>.hover:hover {
	background-color: #FFFFFF20;
}

#main {
	background-color: #212121;
}

.back:hover {
	background-color: #FFFFFF20;
}

#song-image {
	background-color: #FFFFFF20;
	width: 240px;
	height: 240px;
}

#song-image>span {
	font-size: 200px;
}

#header-bar {
	top: 0;
	opacity: 0;
	left: 0;
	z-index: 200;
	transition: 300ms;
}

.chart>img {
	width: 100%;
}

.easy {
	color: #2482b3!important;
	background-color: #0f2457!important;
	border-color: #2482b3!important;
}

.hard {
	color: #BC2029!important;
	background-color: #330000!important;
	border-color: #BC2029!important;
}

.chaos {
	color: #A81CA8!important;
	background-color: #330033!important;
	border-color: #A81CA8!important;
}

.glitch {
	color: #00A96B!important;
	background-color: #002E1D!important;
	border-color: #00A96B!important;
}

.other {
	color: #878787!important;
	background-color: #373737!important;
	border-color: #878787!important;
}

.popover-header, .popover-body {
	color: black;
	font-size: 1.5em!important;
}