@font-face {
	font-family: 'Rajdhani';
	src: url('Rajdhani-SemiBold.ttf');
}

@font-face {
	font-family: 'Electrolize';
	src: url('Electrolize-Regular.ttf');
}

body {
	font-family: 'Electrolize'!important;
	font-size: 12pt!important;
}

#main {
	margin-bottom: 3em;
	width: max-content;
}

table th, table td {
	vertical-align: middle!important;
}

tbody {
	border-top: none!important;
}

.table-fix-head>thead>tr>th {
	position: sticky;
	border: #999999 1px solid;
}

.st-th {
	z-index: 10;
}

.table-fix-head>thead>tr:first-child {
	height: 3em;
}

.table-fix-head>thead>tr:first-child>th {
	top: 0;
}

.table-fix-head>thead>tr:nth-child(2)>th {
	top: 3em;
}

.st-td {
	position: sticky;
	z-index: 5;
	background-color: #333333;
}

.char{
	left: 0;
	width: 110px;
}

.song {
	left: 110px;
	width: 200px;
}

.composer {
	width: 200px;
}

.diff {
	left: 310px;
	width: 80px;
}

.lv {
	left: 390px;
}

.sort-head:hover {
	background-color: #AAAAAA!important;
}

.sort-head:active {
	background-color: #777777!important;
}

.dim {
	color: #FFFFFF30;
}

#bottom {
	font-size: 0.8em;
	background-color: #00000099;
}

.easy {
	color: #2482b3!important;
	background-color: #0f2457!important;
	border-color: #2482b3!important;
}

.hard {
	color: #BC2029!important;
	background-color: #330000!important;
	border-color: #BC2029!important;
}

.chaos {
	color: #A81CA8!important;
	background-color: #330033!important;
	border-color: #A81CA8!important;
}

.glitch {
	color: #00A96B!important;
	background-color: #002E1D!important;
	border-color: #00A96B!important;
}

#index {
	font-size: 1em;
	right: 1.5em;
	bottom: 4em;
	z-index: 1500
}

#alert>.close {
	font-size: 16vw;
	top: 0;
	right: .2em;
}

#alert {
	font-size: 6vw;
	top: 10vw;
	right: 10vw;
	max-width: 80vw;
	z-index: 1500;
}

#cols {
	top: 0;
	left: calc(100% - 3vh);
	width: calc(200px + 3vh);
	height: 75vh;
	transition: left 500ms;
}

#cols>.content {
	overflow-y: scroll;
}

#cols select {
	width: -webkit-fill-available;
}

#cols:hover {
	left: calc(100% - 200px - 3vh);
}

#hover-tag {
	right: 200px;
	top: 3vh;
	width: 3vh;
	height: 6vh;
	line-height: 6vh;
	border-top-left-radius: 3vh;
	border-bottom-left-radius: 3vh;
	border-left: black .5vh solid;
}