@font-face {
	font-family: 'Rajdhani';
	src: url('Rajdhani-SemiBold.ttf');
}

@font-face {
	font-family: 'Electrolize';
	src: url('Electrolize-Regular.ttf');
}

body {
	font-family: 'Electrolize'!important;
	font-size: 20px!important;
}

#main {
	margin-bottom: 3em;
}

.chart>img {
	width: 100%;
}

#title {
	background-color: #00000099;
}

#charts {
	margin-top: calc(2rem + 1.5em);
	margin-bottom: calc(2rem + 1.5em);
}

#bottom {
	font-size: 0.8em;
	background-color: #00000099;
}

#index {
	font-size: 1em;
  right: 1.5em;
	bottom: 4em;
}