@font-face {
	font-family: 'Rajdhani';
	src: url('Rajdhani-SemiBold.ttf');
}

@font-face {
	font-family: 'Electrolize';
	src: url('Electrolize-Regular.ttf');
}

body {
	font-family: 'Electrolize'!important;
	font-size: 20px!important;
}

.chart>img {
	width: 100%;
}