@font-face {
	font-family: 'Rajdhani';
	src: url('Rajdhani-SemiBold.ttf');
}

@font-face {
	font-family: 'Electrolize';
	src: url('Electrolize-Regular.ttf');
}

body {
	font-family: 'Electrolize'!important;
	font-size: 12pt!important;
	background-color: #212121!important;
}

#navbar {
	background-color: #424242;
}

#navbar>.hover:hover {
	background-color: #FFFFFF20;
}

#main {
	background-color: #212121;
}

.char-container:hover {
	background-color: #FFFFFF20;
}

.char {
	height: 150px;
}

.char-image-row {
	width: 250px;
}

.back:hover {
	background-color: #FFFFFF20;
}

#song-table {
	background-color: #00000000!important;
}

#song-table tbody {
	border-top: none!important;
}

#bottom {
	font-size: 0.8em;
	background-color: #00000099;
}

.easy {
	color: #2482b3!important;
	background-color: #0f2457!important;
	border-color: #2482b3!important;
}

.hard {
	color: #BC2029!important;
	background-color: #330000!important;
	border-color: #BC2029!important;
}

.chaos {
	color: #A81CA8!important;
	background-color: #330033!important;
	border-color: #A81CA8!important;
}

.glitch {
	color: #00A96B!important;
	background-color: #002E1D!important;
	border-color: #00A96B!important;
}

.other {
	color: #878787!important;
	background-color: #373737!important;
	border-color: #878787!important;
}

td.diff>a {
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border-width: 1px;
	border-style: solid;
}

#analyze {
	font-size: 1em;
  right: 1.5em;
	bottom: 4em;
}

.popover-header, .popover-body {
	color: black;
	font-size: 1.5em!important;
}