<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=.5, user-scalable=no">
	<title>Cytus II Charts</title>
	<link href="index.css" rel="stylesheet">
	<!--BOOTSTRAP-->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!--VUE-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116631189-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-116631189-3');
	</script>
</head>
<body class='bg-dark text-light'>
	<div id="main" class="container-fluid px-0">
		<table id="song-table" class="table table-dark table-striped table-hover table-fix-head">
			<thead class="thead-light">
				<tr>
					<th class="text-center align-middle">Character</th>
					<th class="align-middle">Song</th>
					<th class="align-middle">Composer</th>
					<th class="text-center align-middle easy diff border-0">EASY</th>
					<th class="text-center align-middle hard diff border-0">HARD</th>
					<th class="text-center align-middle chaos diff border-0">CHAOS</th>
					<th class="text-center align-middle glitch diff border-0">GLITCH</th>
				</tr>
			</thead>
			<tbody v-for="(character, index) in songsData" class="mt-3">
				<tr class="mb-2" :style="``" @click="toggle(character)">
					<td
						colspan="7"
						class="text-center position-sticky"
						:style="`background-color: #${character.color}; top: 2.3em`"
					>
						{{ character.name }}
					</td>
				</tr>
				<template v-if="character.show">
					<tr v-for="song in character.songs">
						<td class="text-center align-middle">{{ character.name }}</td>
						<td class="align-middle">{{ song.name }}</td>
						<td class="align-middle">{{ song.composer }}</td>
						<td class="text-center align-middle py-2 diff">
							<a v-if="song.charts.easy"
								class="easy rounded-circle m-auto"
								:href="`chart.html?charId=${character.id}&songId=${song.id}&diff=easy`">
								{{ song.charts.easy.level }}
							</a>
						</td>
						<td class="text-center align-middle py-2 diff">
							<a v-if="song.charts.hard"
								class="hard rounded-circle m-auto"
								:href="`chart.html?charId=${character.id}&songId=${song.id}&diff=hard`">
								{{ song.charts.hard.level }}
							</a>
						</td>
						<td class="text-center align-middle py-2 diff">
							<a v-if="song.charts.chaos"
								class="chaos rounded-circle m-auto"
								:href="`chart.html?charId=${character.id}&songId=${song.id}&diff=chaos`">
								{{ song.charts.chaos.level }}
							</a>
						</td>
						<td class="text-center align-middle py-2 diff">
							<a v-if="song.charts.glitch"
								class="glitch rounded-circle m-auto"
								:href="`chart.html?charId=${character.id}&songId=${song.id}&diff=glitch`">
								{{ song.charts.glitch.level }}
							</a>
						</td>
					</tr>
				</template>
				<tr style="height: 15px"></tr>
			</tbody>
		</table>
	</div>
	<div id="bottom" class="text-center fixed-bottom py-2">
		<span>回報錯誤與建議 Report issues and suggestions: 
			<a href="https://github.com/DeemoHarlos/c2charts/issues/new">GitHub</a> | 
			<a href="https://www.messenger.com/t/deemoharlos">Messenger</a>
		</span><br>Made by Deemo Harlos - 
			<a href="https://www.facebook.com/deemoharlos.music">Facebook</a> | 
			<a href="https://www.youtube.com/c/DeemoHarlos">YouTube</a> | 
			<a href="https://www.instagram.com/deemo_harlos/">Instagram</a> | 
			<a href="https://twitter.com/deemo_harlos">Twitter</a> | 
			<a href="https://github.com/DeemoHarlos">Github</a> | 
			<a href="https://musescore.com/deemo_harlos">Musescore</a>
			<a href="https://www.patreon.com/DeemoHarlos">Patreon</a>
		</span>
	</div>
	<a href="analyze.html" id="analyze"
		class="position-fixed text-center btn btn-primary p-4 stretched-link text-white">
		譜面數據分析<br>Charts Statistics
	</a>
	<script src="index.js" type="text/javascript"></script>
</body>
</html>